In [35]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import csv

In [36]:
sources = pd.read_csv('cleaned_pudding_data.csv')
sources

,imdb_id,script_id,title,year,gross (inflation-adjusted),link
0,tt0023622,5154,Trouble in Paradise,1932,NaN,http://www.aellea.com/emruf3/tip.html
1,tt0024368,4677,Mystery of the Wax Museum,1933,NaN,http://www.aellea.com/script/qWAX.htm
2,tt0025905,5147,Transatlantic Merry-Go-Round,1934,NaN,http://www.aellea.com/emruf3/tm.html
3,tt0031679,4658,Mr. Smith Goes to Washington,1939,NaN,http://www.dailyscript.com/scripts/Mr%20Smith%...
4,tt0031725,3016,Ninotchka,1939,45.0,http://www.dailyscript.com/scripts/Ninotchka.txt
...,...,...,...,...,...,...
119,tt0366627,2651,The Jacket,2005,8.0,http://www.dailyscript.com/scripts/The_Jacket....
120,tt0372532,4992,The Wedding Date,2005,42.0,http://www.dailyscript.com/scripts/somethingbo...
121,tt0416658,4034,Crazylove,2005,NaN,http://www.dailyscript.com/scripts/crazy_love....
122,tt0421054,4121,Domino,2005,13.0,http://www.dailyscript.com/scripts/domino.html
123,tt0480249,4392,I Am Legend,2007,323.0,http://www.horrorlair.com/scripts/legend.txt

In [37]:
with open('pudding.csv', 'w') as file:
    writer = csv.writer(file)
    writer.writerow(['Volume Text'])  # headers

    # loop through the sources
    for source in sources['link']:
        response = requests.get(source)
        soup = BeautifulSoup(response.text, features="html.parser")
        # write the text to the file
        writer.writerow([soup.get_text()[:1000]])

pudding = pd.read_csv('pudding.csv')
pudding

                                           Volume Text
0    \r\n\r\n\r\n\r\nTrouble in Paradise\r\n\r\n\r\...
1    \r\n\r\n403 Forbidden\r\n\r\nForbidden\r\nYou ...
2    \r\n\r\nTransatlantic Merry-Go-Round\r\n\r\n\r...
3                                  "MR. SMITH GOES ...
4                                           "NINOTC...
..                                                 ...
119  \r\n\r\nThe Jacket\r\n\r\n\r\n\r\n\r\n\r\n\r\n...
120  \r\n\r\nSomething Borrowed Script by Dana Fox\...
121  \r\n\r\nCrazy Love script by Carol Watson\r\n\...
122  \r\n\r\n"Domino," by Richard Kelly\r\n\r\n\r\n...
123  \r\n\r\n403 Forbidden\r\n\r\nForbidden\r\nYou ...

[124 rows x 1 columns]

In [38]:
pudding['Volume Text'] = pudding['Volume Text'].apply(lambda x: x.replace('\r', '').replace('\n', '').replace('\t', ''))
pudding

                                           Volume Text
0    Trouble in ParadiseTrouble in Paradise SEQUENC...
1    403 ForbiddenForbiddenYou don't have permissio...
2    Transatlantic Merry-Go-RoundTransatlantic Merr...
3                                  "MR. SMITH GOES ...
4                                           "NINOTC...
..                                                 ...
119  The Jacket                                    ...
120  Something Borrowed Script by Dana Fox         ...
121  Crazy Love script by Carol Watson             ...
122  "Domino," by Richard Kelly               D    ...
123  403 ForbiddenForbiddenYou don't have permissio...

[124 rows x 1 columns]

In [40]:
pudding1 = pudding
pudding1['title'] = sources['title']
pudding1 = pudding1[~pudding1['Volume Text'].str.contains('Forbidden')]
pudding1

,Volume Text,title
0,Trouble in ParadiseTrouble in Paradise SEQUENC...,Trouble in Paradise
2,Transatlantic Merry-Go-RoundTransatlantic Merr...,Transatlantic Merry-Go-Round
3,"""MR. SMITH GOES ...",Mr. Smith Goes to Washington
4,"""NINOTC...",Ninotchka
5,I Walked with a Zombie I WALKED WITH A ZOM...,I Walked with a Zombie
...,...,...
118,Lost In Translation script ...,Lost in Translation
119,The Jacket ...,The Jacket
120,Something Borrowed Script by Dana Fox ...,The Wedding Date
121,Crazy Love script by Carol Watson ...,Crazylove
122,"""Domino,"" by Richard Kelly D ...",Domino

In [42]:
pudding1.to_csv('pudding_movie_dialogue.csv', index=False)